@import url('https://fonts.googleapis.com/css2?family=Shalimar&display=swap');


*{
    font-family: 'Shalimar', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* color: aliceblue; */
}
body{
    background-image: url("/static/bg1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#navbar{
    background-color: rgba(0, 0, 0, 0.379);
}

#navbar ul{
    display: flex;
    /* justify-content: center; */
    align-items: center;

}
#navbar ul li{
    margin: 1px 20px;
    list-style: none;
}
#navbar ul li a{
    text-decoration: none;
    color: aliceblue;
    font-weight: 900;
    font-size: 35px;
    
}
#navbar ul li img{
    height: 90px;
    margin: 0;
    padding: 0;
}
#navbar ul:nth-child(5){
    color: blueviolet;
    
}


#introSection{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 20vh;
    padding-right: 20%;
    padding-top:5% ;
    color: aliceblue;
    padding-bottom: 200px;
    

}
#introSection h1{
font-size: 60px;
}
#introSection h2{
font-size: 30px;
}

#ourMission{
    background-color: rgba(240, 248, 255, 0.211);
    padding-left: 30px;
    align-items: center;
    color: aliceblue;
    display: flex;
    flex-direction: column;

}
#ourMission h1{
    display: flex;
    justify-content: center;

}
#ourMission #row .card{
    background-color: rgb(10, 123, 123);
    height: 300px;
    width: 300px;
    margin: 15px;
    box-shadow: 2px 2px 10px rgb(1, 76, 80);
}
#ourMission #row .card h2{
    text-align: center;
}
#row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#ourMission h1{
    font-size: 50px;
    
}
#ourMission p{
    font-size: 30px;
}

.card{
    padding: 10px;
}
.card-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-img img{
    width: 200px;
    /* height: inherit; */

}
#sponsorsSection p{
    font-size: 30px;
}
#sponsorsSection h1{
    font-size: 50px;
    
}

#sponsorsSection{
    padding: 100px 50px 100px 50px;
    /* height: 40vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}
#sponsorsSection .spon{
    display: flex;
    flex-direction: row;
    margin: 20px;

}
#sponsorsSection .item img{
    height: 100px;

}

#footer{
    /* margin-top: 70px; */
    color: aliceblue;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 10px; */
    font-size: 25px;
} 
h1{
    color: aliceblue;
}