
//templete


doctype html

html
    head
        title Smile Dance Acedamy
        block scripts
        block style        
    body
        nav#navbar
           
           ul
             li
                img(src="static/logo.png", alt="")   
             li
                a(href="#") Home      
             li
                a(href="#") About      
             li
                a(href="#") Contact      
             li
                a(href="#") Services      
             li#right
                a(href="#") Login/Signup
    block content                 
    footer#footer 
        | smiledanceacadmy.com | All rights reserved @ 2022