doctype html

html
    head
        title Smile Dance Acadmy
        style
            include ../static/style.css 
    body
        nav#navbar
           
           ul
             li
                img(src="static/logo.png", alt="")   
             li
                a(href="#") Home      
             li
                a(href="#") About      
             li
                a(href="#") Contact      
             li
                a(href="#") Services      
             li#right
                a(href="#") Login/Signup

        #introSection 
            h1 Welcome To Smile Dance Academy 
            h2 Eat Dance Sleep Repeat

        #ourMission
            h1
             u  Our Mission          
            #row 
             .card
               h2 Dance Perfection
               .card-box
                  .card-img
                     img(src="../static/ts3.png", alt="")
                  .card-content
                     p This is the best dance academy in the area
             .card
               h2 Dance The Way you Like
               .card-box
                  .card-img
                     img(src="../static/ts3.png", alt="")
                  .card-content
                     p This is the best dance academy in the area
             .card
               h2 Expert Teaching
               .card-box
                  .card-img
                     img(src="../static/ts3.png", alt="")
                  .card-content
                     p This is the best dance academy in the area
        #sponsorsSection 
            h1
               u  Our Sponsors 
            .spon             
               .item 
                img(src="../static/1024px-HP_logo_2012.svg.png", alt="")
               .item 
                img(src="../static/apple_logo_PNG19674.png", alt="")
               .item 
                img(src="../static/microsoft_PNG6.png", alt="")
        footer#footer 
           | smiledanceacadmy.com | All rights reserved @ 2022
        script 
            include ../static/index.js

